*{
    box-sizing: border-box;
    width: 100%;
}

h1 {
    text-align: center;
}

.formulaire {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    // gap: 4px;
}

$margin-size: 2px;

.myinput {
    flex-shrink: 1;
    width: calc(50% - $margin-size*2);
    margin: $margin-size;
}

.input-lg{
    flex-shrink: 1;
    width: calc(100% - $margin-size*2);
    margin: $margin-size;
}

.mybutton{
 width: 25%;
}
